@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


header {
    display: flex;
    margin: 1rem;
}
.mini-title {
    font-family: Inconsolata;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.main{
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin: 2rem 5rem 0 5rem;
}

.image img {
    width: 539px;
    height: 447px;
}

.descrip {
    width: 45%;
}


.title {
    width: 70%;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 3rem;
    color: #333;
}

.description {
    text-align: left;
    font-family: 'Space Mono', monospace;
    width: 45%;
    margin-bottom: 3rem;
    color: #333;
}

.btn {
    width: 200px;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    font-family: 'Space Mono', monospace;
}

.btn:hover {
    background-color: #f0eeee;
    border: solid 1px #333;
    color: #333;
    transition: 0.2s;
}

.btn:hover::before {
    content: '<- ';
}

/* -------- RESPONSIVE ----------- */

@media  (max-width: 1000px) {
    

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 287px;
    height: 238px;
}

.descrip {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
}
.description {
    width: 100%;
}

}